form {
    margin-top: 3%;
}

mat-form-field {
    width:300px;
    padding-bottom: 20px;
}

.titel {
    margin-top: 0px;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(117, 169, 141);   
}

.box {
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom: 3%;
    background-color: #86edbd15;
    opacity: 1;
    filter: alpha(opacity=60); 
  }

button {
    margin-top: 2%;
}

.help-position {
    position: absolute;
    top: 0;
    right: 0;
}