<section class="ticket-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field >
      <mat-select placeholder="Kategorie wählen" [(ngModel)]="ticket.kategorie" name="kategorie"  >
        <mat-option *ngFor="let kategorie of kategories" [value]="kategorie.value">
          {{ kategorie.value }}
        </mat-option>  
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Betreff" [(ngModel)]="ticket.betreff" name="betreff" required #betreffInput="ngModel">
      <mat-error *ngIf="betreffInput.hasError('required')">Pflichtfeld.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea type="text" matInput placeholder="Text" matTextareaAutosize matAutosizeMinRows="4"
        [(ngModel)]="ticket.text" name="text" required minlength="50" maxlength="1200" #textInput="ngModel"></textarea>
        <mat-error *ngIf="textInput.hasError('required')">Pflichtfeld.</mat-error>
        <mat-error *ngIf="textInput.hasError('minlength')">Mindestens 50 Zeichen.</mat-error>
        <mat-hint align="end">{{ textInput.value?.length }} / 1200</mat-hint>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
